@model IList<ContractingApp.Models.Contractor>

@{
    ViewData["Title"] = "Contractor";
}

<h3>Contractor</h3>


<table class="table" id="contractortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].HealthStatus)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthStatus)
                </td>
                <td>
                   
                    <a asp-action="GetContractorDetails" asp-route-id="@item.Id">Details</a>
                   
                </td>
            </tr>
        }

    </tbody>
</table>
<p>
    <a asp-action="AddNewContractor" id="addcontractor">Add Contractor</a>
</p>
@*<div id="divSuccessMessage">
    <h2>Successful</h2>
</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            alert("Contractor added successfully");
           
        </script>
    }
  

    

}
